<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Memory Game</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="games" *ngIf="auth.loggedIn">Games</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="external-api" *ngIf="auth.loggedIn">External API</a>
      </li>

      <li class="nav-item">
        <button class="btn btn-success" (click)="auth.login()" *ngIf="!auth.loggedIn">Log in</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="auth.logout()" *ngIf="auth.loggedIn">Log out</button>
      </li>
    </ul>
  </div>
</nav>
